<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bladesio1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>DFCdrom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DFInput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DFNet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>DFXVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PCSXR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Pcsxr-QL.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PeopsSpuAL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PeopsSpuSDL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PeopsXgl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Psx-Memcard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SPUSharedCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>updateInfoPlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BB3D68205427FE200831ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>550E343618E6293D00A1AD21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>551A75C617868C4E0052D185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>551A7672178690500052D185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>551A76861786919F0052D185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>551A76B4178693FF0052D185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>551A76DA178696BD0052D185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>551A76E61786971B0052D185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>551A7706178698C60052D185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>551A774717869C280052D185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>551A776517869E430052D185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5525BC5C19421A750018AF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55534AEF18183BFA006D6BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
